*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	color: red;
}


body{
	max-height: 100vh;
	max-width: 100vw;
}

nav {
	height: 10%;
	width: 100%;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	position: relative;
}
.logo_name{
	font-size: 3rem;
	font-weight: bold;
	margin-right: 1rem;
	flex: 35%;
	text-align: center;
}
.links{
	display: flex;
	gap: 1rem;
	list-style: none;
	align-items: center;
	flex: 30%;
}
.links a{
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	color: red;
}
.nav__buttons{
	flex: 35%;
	display: flex;
    justify-content: center;
    gap: 2rem;
}

button{
	background-color: white;
	padding: .5rem 1rem;
	border-radius: .75rem;
	font-size: 1.25rem;
	border: solid 1px red;
	cursor: pointer;
	transition: .3s all ease;
}

button:hover{
	background-color: red;
	color: white;
}

.home__body{
	width: 100vh;
	height: 90%;
}
.intro{
	width: 35%;
	position: absolute;
	top: 30%;
	left: 65%;
}
.intro p{
	font-size: 2rem;
	margin-bottom: 2rem;
}
.intro a{
	margin-right: 2rem;
}
.image{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1; 
	background: url("../assets/bg.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
img{
	min-width: 100%;
	min-height: 100%;
}

/*---------------------------Menu----------------------------------  */
/*---------------------------Author: KhanhLe----------------------------------  */

.menu_header{
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}
.menu_container{
	width: 80%;
	margin: 0 auto;
}
.menu_container button{
	position: absolute;
	bottom: 20%;
	left: 50%;
}
.product{
	margin-bottom: 1rem;
}
.menu__bg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1; 
	background: linear-gradient(to top left, rgba(16,16,24,255),
rgba(100,107,125,255) );
}
.product__container{
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
}
.product{
	display: flex;
	align-items: center;
	gap: 5px;
}
.product_code{
	background-color: red;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
	border-radius: 50%;
}
.product_name{
	font-size: 20px;
	font-weight: 600;
}
.select{
	justify-self: flex-end;
}

/*-----------------Sign up----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.signup_container{
	position: relative;
    width: 50%;
    top: 3%;
    left: 32%;
}

.signup_header{
	
	font-size: 35px;
	color: white;
	position: relative;
	top: 40px;
	left: 22px;
}

.signup_lable{
	font-size: 20px;
	color: white;
	position: relative;
	top: 75px;
	left: 100px;
}

.signup_input{
	font-size: 19px;
	color: black;
	position: relative;
	top: 75px;
	left: 105px;
}

.signup_image{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -2;
	background-image: url("../assets/background.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.signup_headerimg{
	width: 16.75vw;
	height: 16vh;
	position: relative;
	top: 0;
	left: 160px;
	z-index: -1; 
	background: url("../assets/logo.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.signup_button{
	font-weight: bold;
	position: relative;
	top: 100px;
	left: 205px;
}

/*-----------------------------------------------------------  */





