*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	color: red;
}


body{
	max-height: 100vh;
	max-width: 100vw;
}

nav {
	height: 10%;
	width: 100%;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	position: relative;
}

header {
	background-color: white;
}
.logo_name{
	font-size: 3rem;
	font-weight: bold;
	margin-right: 1rem;
	flex: 40%;
	text-align: center;
}
.links{
	display: flex;
	gap: 1rem;
	list-style: none;
	align-items: center;
	flex: 25%;
}
.links a{
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	color: red;
}
.nav__buttons{
	flex: 35%;
	display: flex;
    justify-content: center;
    gap: 2rem;
}

button{
	background-color: white;
	padding: .5rem 1rem;
	border-radius: .75rem;
	font-size: 1.25rem;
	border: solid 1px red;
	cursor: pointer;
	transition: .3s all ease;
}

button:hover{
	background-color: red;
	color: white;
}

.home__body{
	width: 100vh;
	height: 90%;
}
.intro{
	width: 35%;
	position: absolute;
	top: 30%;
	left: 65%;
}
.intro p{
	color: white;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.intro a{
	margin-right: 2rem;
}
.image{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1; 
	background: url("../assets/bg.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
img{
	min-width: 100%;
	min-height: 100%;
}

/*---------------------------Menu----------------------------------  */
/*---------------------------Author: KhanhLe and Izzi Puk----------------------------------  */

.menu_header{
	font-size: 2rem;
	margin-top: 3%;
	margin-bottom: 2%;
	text-align: center;
	text-decoration: underline overline red;
	font-family: "Papyrus", fantasy;
	text-underline-position: under;
}


.product_table{
	table-layout: auto;
	width: 100%;
}

.product_img{
	max-width: 30px;
    max-height: 30px;
	
}
.product_container{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	width: 35%;
	padding: 30px;
	row-gap: 10px;
	border: 2px dashed red;
}

.menu_button{
	position: relative;
	left: 45%; 
    margin-top: 1%;
    margin-bottom: 1%;
}

.menu_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.section_header{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	font-family: "Papyrus", fantasy;
}

.product_name{
	font-size: 20px;
	font-weight: 600;
	width: 80%;
}
.product_description{
	color: red;
}
.select{
	justify-self: flex-end;
}

/*-----------------Sign up----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.signup_container{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	position: relative;
    width: 50%;
    top: 5%;
    left: 25%;
}

.signup_header{
	font-size: 35px;
	color: white;
	position: relative;
	top: 40px;
	left: 22px;
}

.signup_lable{
	font-size: 20px;
	color: white;
	position: relative;
	top: 75px;
	left: 100px;
}

.signup_input{
	font-size: 19px;
	color: black;
	position: relative;
	top: 75px;
	left: 105px;
}

.signup_image{
	width: 100vw;
	height: 90%;
	position: absolute;
	z-index: -2;
	background-image: url("../assets/background.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.signup_headerimg{
	width: 450px;
	height: 230px;
	position: relative;
	top: 5%;
	left: 36%;
	z-index: -1; 
	background: url("../assets/logo.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


.signup_button{
	font-weight: bold;
	position: relative;
	top: 100px;
	left: 205px;
}

/*-----------------------------------------------------------  */


/*-----------------Login----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.login_container{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	position: relative;
    width: 50%;
    top: 3%;
    left: 34%;
}


.login_button{
	font-weight: bold;
	position: relative;
	top: 100px;
	left: 195px;
}
.admin_background {
	background-color: red;
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
	border-radius: 50%;
	
}

/*-----------------------------------------------------------  */


/*-----------------About Us----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.aboutus_container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center; 
	column-gap: 50px;
	position: relative;
	top: 10%;
   
}

.aboutus_pcont{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 30px; 
    position: relative;
    width: 35%;
    top: 5%; 
	background-color: white;
	border: 2px solid red;
    border-radius: 25px;
	
}

.aboutus_image > img{
	text-align: left;
	max-width: 100%;
	max-height: 550px;
	border: 2px solid red;
    border-radius: 25px;
}

.aboutus_header{
	font-family: "Papyrus", fantasy;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline overline red;
	text-underline-position: under;
}

.aboutus_p{
	font-family: "Monaco", monospace;
}

/*-----------------------------------------------------------  */

/*-----------------Contact----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.contact_container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start; 
	position: relative;
	width: 100%;
}
.contact_dcontainer{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 3px; 
	background-color: white;
    position: relative;
    width: 100%;
	border: 2px dashed red;
}
.contact_tcontainer{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 20px; 
    position: relative;
    margin-top: 5%;
    width: 27%;
    row-gap: 30px;
}

.contact_imgcont{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: relative;
    width: 42%;
    margin-top: 2%;
    row-gap: 20px;
    column-gap: 30px;
}

.contact_img img{
	max-width: 250px;
	max-height: 230px;
	border: 2px solid white;
}

.contact_caption{
	text-align: center;
	font-weight: bold;
	font-family: "Papyrus", fantasy;
}
/*-----------------------------------------------------------  */

/*-----------------Cart----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.c_container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	column-gap: 10%;
	margin-top: 7%;
}

.cart_rcontainer{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 23%;
	position: relative;
	border: 3px dashed red;
	background-color: white;
	padding: 20px;
}

.cart_imgcont{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 25%;
	position: relative;

}
.cart_img img{
	max-width:150px;
	max-height: auto;
}

.cart_logo img{
	max-width: 250px;
	max-height: 250px;
}

.admin_container{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border: 3px solid red;
	background-color: white;
	width: 48%;
	position: relative; 
	font-family: "Monaco", monospace;
	
}
.admin_text{
	font-size: 20px;
}
.admin_imagecont {
	display: flex;
	width: 50%;
	
}

.admin_containerf{
	
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	row-gap: 100px;
	width: 34%;
	position: relative;
	left: 33%;
	top: 10%;
}
.admin_image img{
	max-width: 150px;
	max-height: 150px;

}

/*-----------------------------------------------------------  */

/*-----------------OrderStatus----------------------------------  */
/*-----------------Author: IzziPuk----------------------------------  */

.order_container{
	display: flex;
	flex-flow: column wrap; 
	justify-content: center;
	align-items: center;
	margin-top: 3%;
}

.order_scontainer{
	display: flex; 
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	width: 23%;
	border: 3px dashed red;
}
.orderstatus_container{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	border: 3px solid white;
	border-radius: 50%;
	width: 50%;
	padding: 50px;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	background-color: red;
	font-family: "Monaco", monospace;
}


.orderdetail_container{
	dispay: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 23%;
    padding: 20px;
	border: 3px dashed red;
}

.order_heading{
	font-size: 1.3rem;
	font-weight: bold;
	font-family: "Papyrus", fantasy;
	color: white;
	text-align: center;
}

.orderdetail_text{
	color: white;
	text-align: center;
	font-family: "Monaco", monospace;
}
/*-----------------------------------------------------------  */
.indv_containerl{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border: 4px dashed red;
	background-color: white;
	left: 25%;
	width: 45%;
	position: relative; 
	font-family: "Monaco", monospace;
	
}

.individual_container{
	
	display: flex;
	flex-flow: column wrap;
	top: 20%;
	justify-content: center;
	align-content: center;
	row-gap: 100px;
	width: 34%;
	position: relative;
	left: 33%;
	bottom: 50%;
}
.indv_label{
	font-size: 20px;
	color: white;
	position: relative;
	top: 75px;
	left: 100px;
}
.indv_input{
	font-size: 19px;
	color: black;
	position: relative;
	top: 200px;
	left: 105px;
}
.indv_text{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-family: "Monaco", monospace;
	color: black;
	margin-top: 40%;
	margin-bottom: 20%;

}
.indv_imagecont {
	display: flex;
	width: 70%;
	
}
.indv_image img{
	max-width: 150px;
	max-height: 160px;
	bottom: 200px;

}



